*,*::before, *::after{
	margin:0;
	padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: rgb(89, 12, 12);
    font-size:1.125rem;

}
h1,p,img,label{
	margin:0;
}

p {
	margin-bottom:0.85em;
	line-height: 1.5;
}


#img{
	display: block;
	max-width: 50%;
	margin:0 auto 1rem auto; 
	animation:donder 0.5s 1.5s ease-in-out forwards;
}


@keyframes donder {
	from {
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}

}

ul {
	padding-inline-start:0;
}
ul li {
	list-style-type: none;
	margin-left: 0.4rem;
	margin-right:0.8rem;
}
a img {
	margin-bottom:0.6rem;
	border-radius: 4rem;
	width: 2rem;

}
span {
	font-weight: 700;
	color:rgb(33, 181, 47);
}
.wrappers{

}
.color{
	margin:0;
	width:100%;
	
	background-color:rgb(189, 19, 232); 
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:1rem 0 1rem 0;
}
.header-title{
	
	font-size:1.5rem;
	letter-spacing: 1rem;
	text-align: center;
	padding:1rem 0 1rem 0;

}
.nav-toggle {
	margin:0.5rem 0 0.5rem 1rem;
	font-size:1.5rem;
	color:hsl(205, 78%, 60%);
	background:transparent;
	border-color: transparent;
	transition: all 0.3s linear;
	cursor:pointer;	
}
.nav-toggle:hover {
	color: red;
	
}
.links {
	height: 0;
	overflow: hidden;


}
.show-links{

	display: flex;
	flex-direction: column;

	height: 3rem;
	margin:0.3rem 0 0.3rem 0.6rem;
	
}

.content{
 margin:0.75rem;
 padding: 0.75rem;
 
}

.paraf{
	margin: 0.75rem;
    padding: 0.75rem;

}
.article{
	display: flex;
	flex-direction: column;
	padding:0 auto;
	background:rgb(189, 19, 232);
	
	text-align: center;
	grid-column: 1/-1;
	grid-row: 4/-1;
	color:floralwhite;
}

#label{

	margin:1rem 1rem;
	font-size:1.2rem;
}

#year{

	max-width: 50%;
	margin:0 auto;
	padding: .875rem;
	font-size:1rem;
	margin-bottom:0.875rem;


}

#textarea {
	
	margin:0 auto;
	padding:0.65rem 0 0.65rem 0;
	margin-bottom: 1rem;
	font-size:1.5rem;
	text-align: center;
	text-transform: capitalize;
	

	
	}

@media only screen and (min-width:610px) {
	.wrappers {
		display:grid;
		grid-template-columns:repeat(3, 1fr);
		grid-template-rows: 4rem auto 1fr auto ;
	}
	.color {
		grid-column: 1/-1;

	}
	.header-title{
		grid-column: 1/-1;
		grid-row:2/span 1;
	}
	
	.content {
		grid-column: 1/span 1;
		grid-row: 3/span 1;
	}
	#img{
		display: grid;
		margin:1.4rem auto;
		min-width: 50%;
	}
	#img{
	
		grid-column:2/span 1;
		grid-row: 3/span 1;
	}
	.paraf{
		grid-column:3/-1;
		grid-row:3/span 1;
	}
	
	.article{
		display:flex;
		grid-column: 1/-1;
		grid-row:4/span 1;


	}
	
	
	.nav-toggle {
		display:none;
	}

	.links{
		display: flex;
		float: right;
		overflow: visible;
		padding: 1.5rem;
	}
	a img {
		width:3rem;
	}
	
}
